@import "scss/config";

.footer {
  display: inline;
  color: #fff;
  text-align: center;

  .row {
    max-width: $max-width;
    padding: $gutter;
    margin: auto;
  }

  .copyright {
    max-width: $max-width;
    margin-right: $gutter;
    margin-left: $gutter;
    overflow: hidden;
    border-top: 2px solid #fff;
    opacity: 0.5;
  }

  .about {
    padding-bottom: $gutter;
  }

  @media (min-width: $max-width) {
    .copyright {
      margin: auto;
    }
  }
}

.box {
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: -$gutter;
  margin-left: -$gutter;
  background-color: #333;
}

@media (min-width: $max-width) {
  .box {
    margin-right: 0;
    margin-left: 0;
  }
}
