.footer {
  display: inline;
  color: #fff;
  text-align: center;

  .row {
    max-width: 1200px;
    padding: 20px;
    margin: auto;
  }

  .copyright {
    max-width: 1200px;
    margin-right: 20px;
    margin-left: 20px;
    overflow: hidden;
    border-top: 2px solid #fff;
    opacity: 0.5;
  }

  .about {
    padding-bottom: 20px;
  }

  @media (min-width: 1200px) {
    .copyright {
      margin: auto;
    }
  }
}

.box {
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: -10px;
  margin-left: -10px;
  background-color: #333;
}

@media (min-width: 1200px) {
  .box {
    margin-right: 0;
    margin-left: 0;
  }
}
