.footer {
	display: inline;
	text-align: center;
	color: white;

	.row {
		padding: 20px;
		max-width: 1200px;
		margin: auto;
	}

	.copyright {
		border-top: 2px solid white;
		opacity: 0.5;
		max-width: 1200px;
		overflow: hidden;
		margin-left: 20px;
		margin-right: 20px;
	}
	.about{
		padding-bottom: 20px;
	}

	@media (min-width: 1200px){
		.copyright{
			margin: auto;
		}

	}


}

.box {
	background-color: #333;
	position: absolute;
	margin-left: -20px;
	margin-right: -20px;
	left: 0;
	right: 0;
	bottom: 0;
}
