.form {

	label {
	  display: block;
	}

	.field {
	  margin-bottom: 20px;
	}

	.upplys {
	  font-size: 1.5em;
		font-weight: bold;
		-webkit-transition: font-size 4s;
	  margin-bottom: 20px;
		margin-top: 30px;
	}

	@media (max-width: 799px) {
		.upplys {
			font-size: 1.2em;
			font-weight: bold;
		}
	}

	@media (max-width: 599px) {
		.upplys {
			font-size: 1em;
			font-weight: bold;
		}
	}

	#textabox {
	  width: 100%;
	}

	#textabox_2 {
	  width: 100%;
	}


	.submit_button {
	    text-align: center;
	}

	.kyn {
	  display: column;
	}

	.kyn1 {
	  display: row;
	}

	.kyn2 {
	  display: row;
	}

	.kyn3 {
	  display: row;
	}

	.date {
		display: flex;
		color: red;
	}
}
