.header {
  display: flex;
  max-width: $max-width;
  min-height: 200px;
  margin: 0 auto $gutter;
  align-items: center;
}

.header__index{
	display: flex;
    flex-direction: column;
    height: 30em;
    background-image: url(img/resources/bg.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    justify-content: center;

    .text1{
    	opacity: 0;
  		animation: fadeIn ease-in 1;
  		animation-fill-mode: forwards;
  		animation-duration: 1s;
  		animation-delay: 1s;
    }
    .text2{
    	opacity: 0;
  		animation: fadeIn ease-in 1;
  		animation-fill-mode: forwards;
  		animation-duration: 2s;
  		animation-delay: 2s;
    }
    .button__header{
    	opacity: 0;
  		animation: fadeIn ease-in 1;
  		animation-fill-mode: forwards;
  		animation-duration: 3s;
  		animation-delay: 4s;
    }
}

@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
