@import "scss/config";

.header__index {
  display: flex;
  height: 50em;
  margin-right: -$gutter;
  margin-bottom: (10*$gutter);
  margin-left: -$gutter;
  text-align: center;
  flex-direction: column;
  background-image: url("img/resources/bg.jpg");
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  justify-content: center;
}

<<<<<<< HEAD
  .button__header {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 4s;
=======
.button__header {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 4s;
>>>>>>> b471bfbe79659e07f99f0d6628dc93ef06db9c17
}

.header__rest {
  display: flex;
  height: 30em;
  margin-right: -$gutter;
  margin-left: -$gutter;
  flex-direction: column;
  background-image: url("img/resources/bg-subpage.jpg");
  background-position: left;
  background-size: cover;
  justify-content: center;

}

@media (min-width: $max-width) {
  .header__rest,
  .header__index {
    margin-right: 0;
    margin-left: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;

  }
}
