@import "scss/config";

.navbar {
  width: 100%;
  max-width: $max-width;
  margin: auto;
  line-height: 2.5rem;
  list-style-type: none;

  .link {
    margin-right: $gutter;
    margin-left: $gutter;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;

    &__home {
      float: left;
    }

    &__um {
      float: right;
    }
  }

  .button--kaupanavbar {
    float: right;
    margin-right: $gutter;
    margin-left: 0;
  }

  @media (min-width: $max-width) {
    .link__um,
    .link__home {
      margin-right: 0;
      margin-left: 0;
    }

    .button--kaupanavbar {
      margin-right: 0;
      margin-left: $gutter;
    }
  }
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  height: 2.5rem;
  background-color: #333;
  opacity: 0.8;
}
