.navbar {
	line-height: 2.5rem;
	list-style-type: none;

	a {
		float: right;
		margin-left: 10px;
		margin-right: 10px;
		font-size: 1rem;
		text-decoration: none;
		color: white;
	}

	.row {
		max-width: 1200px;
		margin:auto;
	}

	li:first-child {
		float: left;
	}

	button {
		display: none;
		padding: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	@media (min-width: 400px) {
		button {
			display: inline;
		}
	}
	@media (min-width: 1200px) {
		a {
			margin-left: -10px;
			margin-right: -10px;
		}

		.um {
			margin-right: 80px;
		}
	}
}

.nav {
	position: fixed;
	z-index: 999;
	background-color: #333;
	opacity: 0.8;
	top: 0;
	left: 0;
	right: 0;
}
