.text {
  &__p {
    margin-bottom: $gutter;
  }
  blockquote {
  margin: 1em 0 1em 1em;
  font-size: 1.5em;
  line-height: 1.5;
  font-style: italic;
  	.author {
  		padding: $gutter;
  		font-size: 0.7em;
  		font-style: normal;
  	}
  }
}
