.text {
  &__p {
    margin-bottom: 20px;
  }

  .quote {
    margin: 1em 0 1em 2em;
    font-size: 2em;
    font-style: italic;
    line-height: 1.5;

    &__author {
      font-size: 0.5em;
      font-style: normal;
    }
  }

    &__bottom {
      display: flex;
      justify-content: center;

      &__texti {
        font-size: 1.5rem;
        font-family: Roboto Slab;
      }
    }


}
