.footer {
  display: inline;
  color: #fff;
  text-align: center; }
  .footer .row {
    max-width: 1200px;
    padding: 20px;
    margin: auto; }
  .footer .copyright {
    max-width: 1200px;
    margin-right: 20px;
    margin-left: 20px;
    overflow: hidden;
    border-top: 2px solid #fff;
    opacity: 0.5; }
  .footer .about {
    padding-bottom: 20px; }
  @media (min-width: 1200px) {
    .footer .copyright {
      margin: auto; } }

.box {
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: -20px;
  margin-left: -20px;
  background-color: #333; }

@media (min-width: 1200px) {
  .box {
    margin-right: 0;
    margin-left: 0; } }
pace-around; }
  .card__img {
    width: 100%; }
    .card__img__profile {
      width: 100%;
      min-width: 10px;
      max-width: 200%;
      border-radius: 50%; }
    .card__img__mynd {
      margin: 20px; }
  .card__review {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .card__review__box {
      max-width: 260px; }
  @media (min-width: 800px) {
    .card__review {
      flex-wrap: nowrap; }
      .card__review__box {
        max-width: 400px; } }
  @media (max-width: 560px) {
    .card__review {
      flex-wrap: wrap; }
      .card__review__box {
        max-width: 400px; } }
  @media (min-width: 600px) {
    .card--wide {
      display: flex; } }
  @media (min-width: 600px) {
    .card--wide .card__content {
      align-items: flex-start; } }
  @media (min-width: 600px) {
    .card--wide .card__img {
      min-width: 400px;
      height: 100%;
      object-fit: cover; } }
