@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  margin-right: 20px;
  margin-left: 20px;
  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      margin: 0; } }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  .col-3 {
    width: 25%; }
  @media (max-width: 599px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-6 {
      width: 50%; }
    .col-sm-3 {
      width: 25%; } }

.offset-2 {
  margin-left: 16.66667%; }

@media (max-width: 599px) {
  .offset-sm-0 {
    margin-left: 0; } }

.header {
  display: flex;
  max-width: 1200px;
  min-height: 200px;
  margin: 0 auto 20px;
  align-items: center; }

.heading {
  width: 100%;
  font-family: Merriweather, georgia, serif;
  font-size: 2rem;
  border: 0; }
  @media (min-width: 1200px) {
    .heading {
      padding-right: 0;
      padding-left: 0; } }
  .heading--one {
    font-size: 3rem; }
  .heading--two {
    font-size: 2rem; }
  .heading--three {
    font-size: 1rem; }

.text__p {
  margin-bottom: 20px; }

.button {
  display: inline-block;
  width: 100%;
  max-width: 256px;
  padding: 10px 5px;
  margin: 0;
  overflow: hidden;
  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 1rem;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 4px;
  transition: background-color 500ms ease, color 500ms ease; }
  .button:hover {
    color: #eee;
    background-color: #333; }
  .button--inverted {
    color: #666;
    background-color: #eee; }
  .button--inverted:hover {
    color: #333;
    background-color: #ccc; }
  .button--disabled, .button--disabled:hover {
    color: #999;
    background-color: #eee;
    border-color: #eee; }

.card {
  width: 100%;
  min-width: 200px;
  max-width: 800px;
  overflow: hidden;
  background-color: #eee;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: background-color 500ms ease; }
  .card:hover {
    background-color: #ddd; }
  .card__heading {
    width: 100%;
    margin-bottom: 15px;
    font-family: Merriweather, georgia, serif;
    font-size: 1.5rem;
    word-break: break-word; }
  .card__content {
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center; }
  .card__text {
    margin-bottom: 30px; }
  .card__img {
    width: 100%;
    min-width: 200px;
    max-width: 100%; }
  @media (min-width: 600px) {
    .card--wide {
      display: flex; } }
  @media (min-width: 600px) {
    .card--wide .card__content {
      align-items: flex-start; } }
  @media (min-width: 600px) {
    .card--wide .card__img {
      min-width: 400px;
      height: 100%;
      object-fit: cover; } }

.cardlist__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px; }

.cardlist__col {
  width: 100%;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 0 20px; }
  @media (min-width: 600px) {
    .cardlist__col {
      width: 50%;
      margin-right: 0;
      margin-left: 0; } }

.navbar {
  margin: 0 auto;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: inline flex;
  list-style-type: none; }
  .navbar a {
    float: right;
    margin: auto;
    text-decoration: none;
    padding: 5px;
    color: white; }
  .navbar li:first-child {
    /*láta fooþjónusta til vinstri*/
    float: left;
    padding: 5px; }
  .navbar .um a {
    /*staðsetja um rétt*/
    padding: 13px;
    padding-right: 20px; }
