@import "scss/config";

/* setjum box-sizing: border-box; á allt */

html {
  /* stylelint-disable-line */
  box-sizing: border-box;
  margin-right: $gutter;
  margin-left: $gutter;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  @media (min-width: $max-width) {
    margin: 0;
  }
}

*,
*:before,
*:after {
  /* stylelint-disable-line */
  box-sizing: inherit;

  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0;
}

.svg {
  position: relative;
  display: inline-flex;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.main {
  /* stylelint-disable-line */
  max-width: $max-width;
  margin: 0 auto; // þar sem við erum að eiga við neikvæð margin á grid, setjum overflow-x
  // hér sem hidden, þá fáum við ekki lárétta skrunstiku
  margin-bottom: (2*$gutter);
  overflow-x: hidden;
}

@import "scss/grid";
@import "scss/header";
@import "scss/heading";
@import "scss/text";
@import "scss/button";
@import "scss/card";
@import "scss/cardlist";
@import "scss/navbar";
@import "scss/form";
@import "scss/footer";
