@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  margin-right: 20px;
  margin-left: 20px;
  font-family: Open Sans, helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      margin: 0; } }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

.img-circle {
  border-radius: 50%; }

.svg {
  display: inline-flex;
  align-self: center;
  position: relative;
  height: 25px;
  width: 25px; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-5 {
    width: 41.66667%; }
  .col-4 {
    width: 33.33333%; }
  .col-3 {
    width: 25%; }
  .col-2 {
    width: 16.66667%; }
  @media (max-width: 399px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-6 {
      width: 50%; }
    .col-sm-3 {
      width: 25%; } }
  @media (max-width: 599px) {
    .col-mm-12 {
      width: 100%; }
    .col-mm-6 {
      width: 50%; }
    .col-mm-3 {
      width: 25%; } }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

@media (max-width: 399px) {
  .offset-sm-0 {
    margin-left: 0; } }

@media (max-width: 599px) {
  .offset-mm-0 {
    margin-left: 0; } }

/*.header {
  display: flex;
  max-width: $max-width;
  min-height: 200px;
  margin: 0 auto $gutter;
  align-items: center;
}*/
.header__index {
  display: flex;
  flex-direction: column;
  height: 50em;
  background-image: url(img/resources/bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  justify-content: center;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 10em; }
  .header__index .button__header {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-delay: 4s; }

.header__rest {
  display: flex;
  flex-direction: column;
  height: 30em;
  background-image: url(img/resources/bg-subpage.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  margin-left: -20px;
  margin-right: -20px; }

@media (min-width: 1200px) {
  .header__rest, .header__index {
    margin-left: 0px;
    margin-right: 0px; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.heading {
  width: 100%;
  font-family: Roboto Slab, georgia, serif;
  font-size: 2rem;
  border: 0; }
  @media (min-width: 1200px) {
    .heading {
      padding-right: 0;
      padding-left: 0; } }
  .heading--one {
    font-size: 3rem; }
  .heading--two {
    font-size: 2rem;
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 2s; }
  .heading--three {
    font-size: 1rem;
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 1s; }
  .heading--navbar {
    font-size: 1rem;
    opacity: 1;
    animation: none; }

.heading .rest {
  padding-left: 24px;
  color: #fff; }

.text__p {
  margin-bottom: 20px;
  text-align: center; }

.text blockquote {
  margin: 1em 0 1em 2em;
  font-size: 2em;
  line-height: 1.5;
  font-style: italic; }
  .text blockquote .author {
    font-size: 0.5em;
    font-style: normal; }

.button {
  display: inline-block;
  width: 100%;
  max-width: 256px;
  padding: 10px 5px;
  margin: 0;
  overflow: hidden;
  font-family: Lato, helvetica, arial, sans-serif;
  font-size: 1rem;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 4px;
  transition: background-color 500ms ease, color 500ms ease; }
  .button:hover {
    color: #eee;
    background-color: #333; }
  .button--inverted {
    color: #666;
    background-color: #eee; }
  .button--inverted:hover {
    color: #333;
    background-color: #ccc; }
  .button--disabled, .button--disabled:hover {
    color: #999;
    background-color: #eee;
    border-color: #eee; }
  .button--kaupanavbar {
    display: none;
    width: auto;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: normal; }
  @media (min-width: 400px) {
    .button--kaupanavbar {
      display: inline; } }
  .button .__wrapper {
    display: flex;
    flex-direction: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 10em; }
  .button .a {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 10em; }

.card {
  width: 100%;
  min-width: 200px;
  max-width: 800px;
  overflow: hidden;
  background-color: #eee;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: background-color 500ms ease; }
  .card:hover {
    background-color: #ddd; }
  .card__heading {
    width: 100%;
    margin-bottom: 15px;
    font-family: Roboto Slab, georgia, serif;
    font-size: 1.5rem;
    word-break: break-word; }
  .card__content {
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center; }
  .card__text {
    margin-bottom: 30px; }
  .card__img {
    width: 100%;
    min-width: 200px;
    max-width: 100%; }
  @media (min-width: 600px) {
    .card--wide {
      display: flex; } }
  @media (min-width: 600px) {
    .card--wide .card__content {
      align-items: flex-start; } }
  @media (min-width: 600px) {
    .card--wide .card__img {
      min-width: 400px;
      height: 100%;
      object-fit: cover; } }

.cardlist__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px; }

.cardlist__col {
  width: 100%;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 0 20px; }
  @media (min-width: 600px) {
    .cardlist__col {
      width: 50%;
      margin-right: 0;
      margin-left: 0; } }

.navbar {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  line-height: 2.5rem;
  list-style-type: none; }
  .navbar .link {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1rem;
    color: #fff;
    text-decoration: none; }
    .navbar .link__home {
      float: left; }
    .navbar .link__um {
      float: right; }
  .navbar .button--kaupanavbar {
    float: right;
    margin-right: 20px;
    margin-left: 0; }
  @media (min-width: 1200px) {
    .navbar .link__um,
    .navbar .link__home {
      margin-right: 0;
      margin-left: 0; }
    .navbar .button--kaupanavbar {
      margin-right: 0;
      margin-left: 20px; } }

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  height: 2.5rem;
  background-color: #333;
  opacity: 0.8; }

.form label {
  display: block; }

.form .field {
  margin-bottom: 20px; }

.form .upplys {
  font-size: 1.5em;
  font-weight: bold;
  -webkit-transition: font-size 4s;
  margin-bottom: 20px;
  margin-top: 30px; }

@media (max-width: 799px) {
  .form .upplys {
    font-size: 1.2em;
    font-weight: bold; } }

@media (max-width: 599px) {
  .form .upplys {
    font-size: 1em;
    font-weight: bold; } }

.form #textabox {
  width: 100%; }

.form #textabox_2 {
  width: 100%; }

.form #month {
  width: 100px; }

.form #month option {
  width: 50px; }

.form #year {
  width: 100px; }

.form #year option {
  width: 50px; }

.form .submit_button {
  text-align: center; }

.form .months {
  padding-right: 50px; }

.form .years {
  padding-right: 50px; }

.form .kyn {
  display: column; }

.form .kyn1 {
  display: row;
  padding-bottom: 5px; }

.form .kyn2 {
  display: row;
  padding-bottom: 5px; }

.form .kyn3 {
  display: row; }

.form .date {
  display: flex;
  color: red;
  padding-right: 10px; }

.footer {
  display: inline;
  color: #fff;
  text-align: center; }
  .footer .row {
    max-width: 1200px;
    padding: 20px;
    margin: auto; }
  .footer .copyright {
    max-width: 1200px;
    margin-right: 20px;
    margin-left: 20px;
    overflow: hidden;
    border-top: 2px solid #fff;
    opacity: 0.5; }
  .footer .about {
    padding-bottom: 20px; }
  @media (min-width: 1200px) {
    .footer .copyright {
      margin: auto; } }

.box {
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: -10px;
  margin-left: -10px;
  background-color: #333; }

@media (min-width: 1200px) {
  .box {
    margin-right: 0;
    margin-left: 0; } }
